<label for="uidSelect">Select UID: </label>
<select id="uidSelect" [(ngModel)]="selectedUid">
  <option *ngFor="let uid of uidRange" [value]="uid">{{ uid }}</option>
</select>

<button (click)="fetchMusicRatings()">Select</button>

<h4>Recommendations:</h4>
<p *ngIf="musicList.length > 0">
  <span *ngFor="let music of musicList; let isLast = last">
    <a [href]="music.url" target="_blank">{{ music.name }}</a>
    <button (click)="onArtistClick(music.mid)">Listen</button>
    {{ isLast ? '' : ', ' }}
  </span>
  <span *ngIf="musicList.length === 0">No recommendations available.</span>
</p>

